@charset "UTF-8";
/* CSS Document */
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.outer{
	text-align: center;
}
.page{
  max-width: 1200px;
  width: 100%;
  display: inline-block;
}

.topnav{
  background-color: lightgray;
  height:100px;
  text-align: left;
}

.hero{
	text-align: center;
	
}
.hero img{
	height: 90%;
	
}

.blog_headline{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 0;
	text-align: justify;
}
.blog{
	font-size: 16px;
	color: black;
	width: 350px;
	text-align: justify;
	
}
.blog img{
	float:left;
	width: 100px;
	padding-right: 10px;
}

div [class^="blog img"]:last-of-type {
    width: 650px;
   
}